[submodule "hiwave-macos"]
	path = hiwave-macos
	url = git@github.com:hiwavebrowser/hiwave-macos.git
[submodule "hiwave-windows"]
	path = hiwave-windows
	url = git@github.com:hiwavebrowser/hiwave-windows.git
[submodule "hiwave-linux"]
	path = hiwave-linux
	url = git@github.com:hiwavebrowser/hiwave-linux.git
[submodule "churn-report"]
	path = churn-report
	url = git@github.com:petec4244/ChurnReport.git
